$alignments: (
  "auto": "auto",
  "start": "flex-start",
  "end": "flex-end",
  "center": "center",
  "stretch": "stretch",
  "baseline--height": "baseline--height",
  "between": "space-between",
  "around": "space-around",
  "evenly": "space-evenly",
);

@each $name, $value in $alignments {
  .align-content-#{$name} {
    align-content: #{$value};
  }
  .align-items-#{$name} {
    align-items: #{$value};
  }
  .align-self-#{$name} {
    align-self: #{$value};
  }
  .justify-content-#{$name} {
    justify-content: #{$value};
  }
  .justify-items-#{$name} {
    justify-items: #{$value};
  }
  .justify-self-#{$name} {
    justify-self: #{$value};
  }
}
