@use "../props" as *;

@each $scale, $value in $scales {
  .p-#{$scale} {
    padding: #{$value};
  }
  .py-#{$scale} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }
  .px-#{$scale} {
    padding-right: #{$value};
    padding-left: #{$value};
  }
  .pt-#{$scale} {
    padding-top: #{$value};
  }
  .pr-#{$scale} {
    padding-right: #{$value};
  }
  .pb-#{$scale} {
    padding-bottom: #{$value};
  }
  .pl-#{$scale} {
    padding-left: #{$value};
  }
}
