$align: ("left", "center", "right", "justify");

@each $property in $align {
  .font-#{$property} {
    text-align: #{$property};
  }
}

.font-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-clamp {
  width: clamp(42ch, 50%, 75ch) !important;
}

.nowrap {
  white-space: nowrap;
}
