

$positions: ("static", "fixed", "absolute", "relative", "sticky");

@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

$directions: ("top", "right", "bottom", "left");

@each $direction in $directions {
  .#{$direction} {
    #{$direction}: 0;
  }
}

.inset {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
