@use "../props" as *;

@each $scale, $value in $scales {
  .blur-#{$scale} {
    -moz-filter: blur($value);
    -webkit-filter: blur($value);
    -ms-filter: blur($value);
    filter: blur($value);
    transform: scale(1.1);
  }
  .backdrop-blur-#{$scale} {
    -moz-backdrop-filter: blur($value)
      saturate(250%)
      brightness(100%) !important;
    -webkit-backdrop-filter: blur($value)
      saturate(250%)
      brightness(100%) !important;
    -ms-backdrop-filter: blur($value)
      saturate(250%)
      brightness(100%) !important;
    backdrop-filter: blur($value) saturate(250%) brightness(100%) !important;
  }
}
