@use "../props" as *;

@for $index from 1 through 12 {
  .grid-cols-#{$index} {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(#{$index}, minmax(0, 1fr));
    }
  }
}

//*******
@for $index from 1 through 12 {
  .col-span-#{$index} {
    grid-column: span #{$index} / span #{$index};
  }
}
.col-span-auto {
  grid-column: auto;
}
.col-span-full {
  grid-column: 1 / -1;
}

//*******
@for $index from 1 through 13 {
  .col-start-#{$index} {
    grid-column-start: #{$index};
  }
}
.col-start-auto {
  grid-column-start: auto;
}

//*******
@for $index from 1 through 13 {
  .col-end-#{$index} {
    grid-column-end: #{$index};
  }
}
.col-end-auto {
  grid-column-end: auto;
}
