@for $index from 1 through 12 {
  .grid-rows-#{$index} {
    grid-template-rows: repeat(#{$index}, minmax(0, 1fr));
  }
}

//*******
@for $index from 1 through 12 {
  .row-span-#{$index} {
    grid-row: span #{$index} / span #{$index};
  }
}
.row-span-auto {
  grid-row: auto;
}
.row-span-full {
  grid-row: 1 / -1;
}

//*******
@for $index from 1 through 13 {
  .row-start-#{$index} {
    grid-row-start: #{$index};
  }
}
.row-start-auto {
  grid-row-start: auto;
}

//*******
@for $index from 1 through 13 {
  .row-end-#{$index} {
    grid-row-end: #{$index};
  }
}
.row-end-auto {
  grid-row-end: auto;
}
