container,
.container {
  display: block;
  margin-inline: auto;
  width: 92vw;

  @media screen and (min-width: 700px) {
    width: 88vw;
  }
  @media screen and (min-width: 800px) {
    width: 80vw;
  }
  @media screen and (min-width: 1200px) {
    width: 76vw;
  }
}
