.font-extralight {
  font-weight: var(--weight--1) !important;
}

.font-thin {
  font-weight: var(--weight--2) !important;
}

.font-light {
  font-weight: var(--weight--3) !important;
}

.font-regular {
  font-weight: var(--weight--4) !important;
}

.font-medium {
  font-weight: var(--weight--5) !important;
}

.font-semibold {
  font-weight: var(--weight--6) !important;
}

.font-bold {
  font-weight: var(--weight--7) !important;
}

.font-extrabold {
  font-weight: var(--weight--8) !important;
}

.font-black {
  font-weight: var(--weight--9) !important;
}
