

$behaviors: ("auto", "contain", "none");

@each $property in $behaviors {
  .overscroll-#{$property} {
    overscroll-behavior: #{$property};
  }
  .overscroll-x-#{$property} {
    overscroll-behavior-x: #{$property};
  }
  .overscroll-y-#{$property} {
    overscroll-behavior-y: #{$property};
  }
}
