

$overflows: ("auto", "hidden", "clip", "visible", "scroll");

@each $property in $overflows {
  .overflow-#{$property} {
    overflow: #{$property};
  }
  .overflow-x-#{$property} {
    overflow-x: #{$property};
  }
  .overflow-y-#{$property} {
    overflow-y: #{$property};
  }
}
