@use "./props" as *;

@each $shade, $value in $shades {
  @for $index from 0 through 10 {
    .color-#{$shade}--#{$index} {
      color: var(--color-#{$shade}--#{$index});
    }
    .bg-#{$shade}--#{$index} {
      background-color: var(--color-#{$shade}--#{$index});
    }
    .border-#{$shade}--#{$index} {
      border-color: var(--color-#{$shade}--#{$index});
    }
    .outline--#{$shade}--#{$index} {
      outline-color: var(--color-#{$shade}--#{$index});
    }
    .depth-#{$shade}--#{$index} {
      box-shadow: 0 0.5rem 1rem -0.5rem var(--color--#{$shade}--#{$index});
    }
    .drop-#{$shade}--#{$index} {
      //filter: drop-shadow( 1rem 1rem );
      filter: drop-shadow(0 0 0.5rem $value);
    }
  }
}
//
@each $color, $value in $colors-static {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
  .outline--#{$color} {
    outline-color: var(--color-#{$color});
  }
  .depth-#{$color} {
    box-shadow: 0 0.5rem 1rem -0.5rem var(--color-#{$color});
  }
  .drop-#{$color} {
    filter: drop-shadow(0 0 0.5rem $value);
  }
}
//
@each $color, $value in $colors-system {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
  .outline--#{$color} {
    outline-color: var(--color-#{$color});
  }
  .depth-#{$color} {
    box-shadow: 0 0.5rem 1rem -0.5rem var(--color-#{$color});
  }
  .drop-#{$color} {
    filter: drop-shadow(0 0 0.5rem $value);
  }
}
//
@each $color, $value in $colors-theme {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
  .outline--#{$color} {
    outline-color: var(--color-#{$color});
  }
  .depth-#{$color} {
    box-shadow: 0 0.5rem 1rem -0.5rem var(--color-#{$color});
  }
  .drop-#{$color} {
    filter: drop-shadow(0 0 0.5rem $value);
  }
}
//
@each $color, $value in $colors-typography {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
  .outline--#{$color} {
    outline-color: var(--color-#{$color});
  }
  .depth-#{$color} {
    box-shadow: 0 0.5rem 1rem -0.5rem var(--color-#{$color});
  }
  .drop-#{$color} {
    filter: drop-shadow(0 0 0.5rem $value);
  }
}
//
